@import "colors.css";

* {
  /* font-family: "JetBrainsMono Nerd Font Mono", "FontAwesome 6 Free"; */
  font-family: "JetBrainsMono Nerd Font Propo";
  font-weight: 400;
  font-size: 9.5pt;
  color: @waybarfg;
  background: transparent;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

/* Set background color of main waybar window */
window#waybar {
  margin: 0;
  padding: 0;
  border-radius: 0;
  background: @waybarbg;
  opacity: 0.75;
}

/* Hide window module when not focused on window or empty workspace */
window#waybar.empty #window {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

#workspaces {
  margin-right: -5px;
}

#workspaces button.active {
  background: @buttonbg;
  border-bottom: 2px solid @buttonborder;
  transition: all 0.2s ease-in-out;
}

#workspaces button.focused {
  background: @buttonbg;
}

#workspaces button.urgent {
  background: @buttonurgentbg;
}

#workspaces button:hover {
  background: @buttonbg;
}

#window {
  margin-left: 10px;
  padding: 0 5px 0 5px;
}

tooltip {
  font-size: 7pt;
  background: @tooltipbg;
}

#bluetooth,
#custom-exit,
#custom-foot,
#custom-vim,
#custom-vpn,
#keyboard-state,
#network,
#pulseaudio,
#tray,
#wireplumber {
  margin-left: 5px;
  padding: 0 5px 0 5px;
  /* height: 1cap; */
}
