* {
  /* font-family: "JetBrainsMono Nerd Font Mono", "FontAwesome 6 Free"; */
  font-family: "JetBrainsMono Nerd Font Propo";
  font-weight: 900;
  font-size: 9.5pt;
  color: #cdd6f4;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

/* Set background color of main waybar window */
window#waybar {
  background: rgba(26, 27, 38, 0.95);
  padding: 0;
  margin: 0;
}

/* Hide window module when not focused on window or empty workspace */
window#waybar.empty #window {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

#workspaces {
  margin-right: -5px;
}

#workspaces button.active {
  background: #7aa2f7;
  border-bottom: 3px solid #cdd6f4;
  transition: all 0.2s ease-in-out;
}

#workspaces button.focused {
  background: #7aa2f7;
}

#workspaces button.urgent {
  background: #f7768e;
}

#workspaces button:hover {
  background: #7aa2f7;
}

#window {
  margin-left: 10px;
  padding: 0 5px 0 5px;
}

tooltip {
  background: #1e1e2e;
  font-size: 7pt;
}

#bluetooth,
#custom-exit,
#custom-foot,
#custom-vim,
#custom-vpn,
#keyboard-state,
#network,
#pulseaudio,
#tray,
#wireplumber {
  margin-left: 5px;
  padding: 0 5px 0 5px;
}
